@import 'src/constants/breakpoints';

.article {
  display: flex;

  @media screen and (max-width: $laptop) {
    margin-bottom: 2em;
    // font-size: 15em;
    div:first-child {
      margin-right: 2em;
    }
  
    div:last-child {
      margin-left: 2em;
      max-width: 20em;
    }
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    margin-bottom: 0;
  }
};

.filmInfo {
  display: flex;
  flex-direction: column;
  padding-left: 2em;

  @media screen and (max-width: $laptop) {
    padding-left: 0;
  }
}

.filmInfoDate {
  font-size: 2em;
}

.filmInfoDescription {
  font-size: 1.4em;
  margin: 1em 0;
}

.filmInfoTitle {
  font-size: 4em;
  margin: 1.5em 0;

  @media screen and (max-width: $tablet) {
    margin: 0.5em 0;
  }
}

.image {
  border-radius: 15px;
}
