* {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
}

html {
  background-color: #E0B7B7;
  box-sizing: border-box;
  color: #2F2F2F;
  margin: 0 !important;
}

ul {
  list-style: none;
}

a {
  color: #2F2F2F;
  text-decoration: none;
}
