* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E7CFCD;
  background-image: linear-gradient(#B5C9C3, #E7CFCD);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
  height: 100vh;
  margin: 0 2em 0 2em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
